$color_orange: #d74100;
$color_red: #ff0000;
$color_white: white;

// primary brand color
$color_primary: #ff385c;

$font_primary: Arial, sans-serif; //please use arial, use sans-serif as a backup
$font_seconday: Georgia, serif;
