@use '../abstracts/vars';
header {
  background-color: vars.$color_white;
  padding: 1rem; /* rem (root font size, 16px at "normal" mode) makes font size relative to browser-chosen text-size scale */
  display: flex; /*Takes all immediate children and places them side-by-side (instead of vertically) 
                        NOTE: If you don't specify a height, then all elements will be stretched to the height of the parent header*/
  justify-content: space-between; /*Left-Right. Takes all immediate children in a header box and spaces them out*/
  align-items: center; /* Up-Down. Provides a fix to the height stetching issue. You can vertically align them up, down, etc..*/
}
